
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
a:link{color:black;}
a:hover{color:#007629;}
.wrap {
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100%;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul {
    margin-top: 122px;
    width: 710px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul a{
    margin-top: 26px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: -0.4px;
}
.background {
    background-image: url(index_img/sd_back02.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 4755px;
    position: relative;
    margin: 0 auto;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 1044px;
    height: 30px;
}
.tit02{
    background-size: contain;
    background-repeat: no-repeat;
    width: 242px;
    height: 157px;
    position: relative;
    margin: 26px auto;
}
.txtset01{
    width: 1100px;
    margin: 0 auto;
    letter-spacing: -0.4px;
    font-weight: 100;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}
    .txt01{
        margin-top: 30px;
        font-size: 20px;
        font-weight: 200;
        font-family: 'Nanum Myeongjo', serif;
        line-height: 30px;
    }
    .txt06{
        margin-top: 705px;
        font-size: 20px;
        font-weight: 200;
        font-family: 'Nanum Myeongjo', serif;
        line-height: 30px;
    }
.txtset02{
    margin: 0 auto;
    letter-spacing: -0.4px;
    font-weight: 100;
    text-align: left;
    align-items: left;
    justify-content: left;
    color: black;
}
    .txt02{
        width: 537px;
        margin-top: 730px;
        margin-left: 780px;
        font-size: 20px;
        font-weight: 200;
        font-family: 'Nanum Myeongjo', serif;
        line-height: 30px;
    }
    .txt04{
        width: 537px;
        margin-top: 990px;
        margin-left: 780px;
        font-size: 20px;
        font-weight: 200;
        font-family: 'Nanum Myeongjo', serif;
        line-height: 30px;
    }
.txtset03{
    margin: 0 auto;
    letter-spacing: -0.4px;
    font-weight: 100;
    text-align: right;
    align-items: right;
    justify-content: right;
    color: black;
}
    .txt03{
        width: 520px;
        margin-top: 320px;
        margin-right: 780px;
        font-size: 20px;
        font-weight: 200;
        font-family: 'Nanum Myeongjo', serif;
        line-height: 30px;
    }
    .txt05{
        width: 537px;
        margin-top: 350px;
        margin-right: 780px;
        font-size: 20px;
        font-weight: 200;
        font-family: 'Nanum Myeongjo', serif;
        line-height: 30px;
    }