
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
a:link{color:black;}
a:hover{color:#007629;}
.wrap {
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100%;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul {
    margin-top: 122px;
    width: 710px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul a{
    margin-top: 26px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: -0.4px;
}
.background {
    background-image: url(index_img/sd_back03.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 4387px;
    position: relative;
    margin: 0 auto;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 1044px;
    height: 30px;
}
.tit03{
    background-size: contain;
    background-repeat: no-repeat;
    width: 262px;
    height: 157px;
    position: relative;
    margin: 26px auto;
}
.txtset01{
    width: 1100px;
    margin: 0 auto;
    letter-spacing: -0.4px;
    font-weight: 200;
    text-align: left;
    align-items: left;
    justify-content: left;
    color: black;
}
    .txt01{
        margin-top: 190px;
        margin-left: 912px;
        font-size: 27px;
        font-weight: 400;
        font-family: 'Nanum Myeongjo', serif;
        line-height: 30px;
    }
.txtset02{
    margin: 0 auto;
    letter-spacing: -0.4px;
    font-weight: 100;
    text-align: left;
    justify-content: left;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}
    .txt02{
        margin-top: 180px;
        margin-left: 325px;
        font-size: 16px;
        font-weight: 100;
        width: 280px;
    }
    .txt03{
        margin-top: -1012px;
        margin-left: 617px;
        font-size: 16px;
        font-weight: 100;
        width: 282px;
    }
    .txt04{
        margin-top: -900px;
        margin-left: 910px;
        font-size: 16px;
        font-weight: 100;
        width: 275px;
    }
.txtset03{
    width: 590px;
    margin: 0 auto;
    letter-spacing: -0.4px;
    font-weight: 200;
    text-align: right;
    align-items: right;
    justify-content: right;
    color: black;
}
    .txt05{
        margin-top: 135px;
        margin-left: 8px;
        font-size: 17px;
        font-weight: 400;
        font-family: 'Nanum Myeongjo', serif;
        line-height: 30px;
    }
.txtset04{
    width: 800px;
    letter-spacing: -0.4px;
    font-weight: 200;
    text-align: center;
    align-items: left;
    justify-content: left;
    color: black;
}
    .txt06{
        margin-top: 100px;
        margin-left: 360px;
        font-size: 18px;
        font-weight: 100;
        font-family: 'Noto Sans KR', sans-serif;
        line-height: 30px;
    }